.container {
	--width: 1170px;
	--padding: 2rem;
	max-width: min(var(--width), 100% - var(--padding));
	margin-inline: auto;
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
    overflow-x: hidden;
    color: var(--main-color-900);
    font-size: 1rem;
}

body::after {
    content: '';
    width: 40rem;
    height: 40rem;
    border-radius: 100vmax;
    background-image: linear-gradient(to bottom right,#fcefec 50%, #e8fffc);
    position: absolute;
    top: -50%;
    right: -30%;
    z-index: -1;
    transform: translate(-30%, 0);
}

.heading,
.btn,
.btn-empty {
	font-family: 'Elsie', cursive;
	font-weight: 900;
}
.heading {
    font-size: 3.5rem;
}

.subheading {
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
    font-size: 1.25rem;
    color: var(--subaccent-color);
    margin-bottom: 1.5rem;
}

.btn {
    --radius: 0.75rem;
	padding: 1em 1.5em;
	border-radius: var(--radius);
    border: none;
    cursor: pointer;
	background: linear-gradient(#96e4dd, #5dc4b8);
	color: var(--main-color-100);
	text-transform: uppercase;
	position: relative;
    z-index: 2;
    transition: transform 250ms ease-in-out;
    display: block;
}
.btn:hover,
.btn:focus-visible {
    transform: scale(0.9);
}
.btn-empty {
	--radius: 0.75rem;
    display: block;
	padding: 1rem 1.5rem;
	border: 1px solid var(--accent-color);
	border-radius: var(--radius);
	background-color: transparent;
	color: var(--accent-color);
	text-transform: uppercase;
	transition: color 300ms ease-in-out;
	position: relative;
    z-index: 2;
}
.btn-empty::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	background: linear-gradient(#96e4dd, #5dc4b8);
	border-radius: var(--radius);
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}
.btn-empty:hover,
.btn-empty:focus-visible {
	color: var(--main-color-100);
}
.btn-empty:hover::before,
.btn-empty:focus-visible::before {
	opacity: 1;
}
