.container {
	--width: 1170px;
	--padding: 2rem;
	max-width: min(var(--width), 100% - var(--padding));
	margin-inline: auto;
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
    overflow-x: hidden;
    color: var(--main-color-900);
    font-size: 1rem;
}

body::after {
    content: '';
    width: 40rem;
    height: 40rem;
    border-radius: 100vmax;
    background-image: linear-gradient(to bottom right,#fcefec 50%, #e8fffc);
    position: absolute;
    top: -50%;
    right: -30%;
    z-index: -1;
    transform: translate(-30%, 0);
}

.heading,
.btn,
.btn-empty {
	font-family: 'Elsie', cursive;
	font-weight: 900;
}
.heading {
    font-size: 3.5rem;
}

.subheading {
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
    font-size: 1.25rem;
    color: var(--subaccent-color);
    margin-bottom: 1.5rem;
}

section {
    padding-block: 1.5rem 10rem;
}